@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;s
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
}

 .date {
	display:flex;
    flex-direction:column;
}
.concepts {
    display:flex;
    flex-direction: column;
}
.entry {
    display:flex;
    flex-direction: column;
}
